{% load static %}

{% include 'header.html' %}

<header class="innerPages header">
        <div class="perspective about_bg">
            <div class="opacity-medium bg-extra-dark-gray bg-opacity-color"></div>
            <div class="container">
                <h1>About <br>
              <span>Fundore</span></h1>
            </div>
    </header>
    <section class="intro catDetails wow fadeIn">
        <div class="container">
            <div class="row fadeInRight">
                <p>Welcome to the world of adventure where the fun never ends! Fundore is one of the best adventure parks in Indore with many exciting and thrilling activities. . It is the perfect destination for people of all ages.</p>
                <p>
                	The adventure zone is flooded with a wide range of activities like go-karting, free fall, wall climbing, target shooting, rocket ejector and many more, equipped with five point safety measures. Our team of expert instructors and professional facilitators will translate all your adventure dreams into reality.
                </p>
                <p>Fundore has a plan for everyone, whether it’s a school/college picnic, office plan, kitty party, or conference. We have some good outbound training programs for all the corporates out there.</p>
                <p>Food zone is the most welcoming and lively area with the tastiest combos at pocket friendly prices. Fundore party zone offers you the best way to celebrate your happiness and take home some great memories.</p>
                <p>
All this makes up for a great day of immersive entertainment experience that promises extraordinary fun, joy, thrill, adrenaline, and everything in and around it to our guests!
</p>
            </div>
        </div>
    </section>



<div class="clearfix"></div>
{% include 'footer.html' %}
