{% load static %}

{% include 'header.html' %}

<header class="innerPages header">
        <div class="perspective about_bg">
            <div class="opacity-medium bg-extra-dark-gray bg-opacity-color"></div>
            <div class="container">
                <h1>About <br>
              <span>Fundore</span></h1>
            </div>
    </header>
    <section class="intro catDetails wow fadeIn">
        <div class="container">
            <div class="row fadeInRight">
                <p>SpeakUp Mithila is a community based in Mithila, Bihar which is connecting writers, poets, storytellers, comics, parodies, musicians and others on a global platform.</p>
                <p>
                Founded in February 2019, we have successfully connected hundreds of artists across Mithilanchal including Nepal.
                <p>We started organising projects like SUM Open Mic, SUM Writing Workshops to encourage literature and art.</p>
                <p>We have been actively showing our presence in literature and cultural festivals where various artists come together to perform, create, learn, enjoy and network with like-minded people.<p>
All this makes up for a great day of immersive entertainment experience that promises extraordinary fun, joy, thrill, adrenaline, and everything in and around it to our guests!
</p>
            </div>
        </div>
    </section>



<div class="clearfix"></div>
{% include 'footer.html' %}
