{% load static %}

{% include 'header.html' %}
<header class="innerPages header">
   <div class="perspective contact_bg">
   <div class="opacity-medium bg-extra-dark-gray bg-opacity-color"></div>
   <div class="container">
      <h1>Contact  <br>
         <span>us</span>
      </h1>
   </div>
</header>
<section class="hello">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 wow fadeIn">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14732.335282166097!2d75.7970787!3d22.6133449!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5e33f38e80e636e5!2sFundore!5e0!3m2!1sen!2sin!4v1558967425642!5m2!1sen!2sin" width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
         <div class="col-lg-6 wow fadeIn" data-wow-delay="0.05s">
            <form action="javascript:void();" class="row inner contBox" id="form" name="contact" method="post">
                 <input type="hidden" name="type" value="contact">
               <div class="form-group col-sm-12 col-12">
                  <label><span>Name</span></label>
                  <input type="text" name="contact_name" id="contact_name" class="form-check" required>
               </div>
               <div class="form-group col-sm-12 col-12">
                  <label><span>Mobile</span></label>
                  <input type="text" name="contact_mobile" id="contact_mobile" class="form-check" required>
               </div>
               <div class="form-group col-sm-12 col-12">
                  <label><span>Email</span></label>
                  <input type="text" name="contact_email" id="contact_email" class="form-check" required>
               </div>
               <div class="form-group col-12">
                  <label><span>Message</span></label>
                  <textarea name="contact_message" id="contact_message" class="form-check" required></textarea>
               </div>
                <div id="ajaxResponseDiv" style="position: relative;color: #ff3a3a;display: block;width: 100%;left: 15px"></div>
                <div>
                    <div class="custom-link"style="position:relative;">
                      <a href="#">
                        <div class="lines"> <span></span> <span></span> </div>
                         <button class="btn" id="submit-btn" onclick="contactForm();">Submit</button></a>
                    </div>
                </div>
            </form>
            <div id="success" class="alert alert-success" role="alert"> Your message was sent successfully! We will be in touch as soon as we can. </div>
            <div id="error" class="alert alert-danger" role="alert"> Something went wrong, try refreshing and submitting the form again. </div>
         </div>
      </div>
   </div>
</section><div class="clearfix"></div>

{% include 'footer.html' %}
