{% load static %}

{% include 'header.html' %}
<div class="">
    <video src="{% static 'videos/fundore_high.mp4' %}" muted loop autoplay style="width: 100%;"></video>
    <!-- <div class="container">
                <h1>Hub of <br>
              <span>Entertainment</span></h1>
            </div> -->
</div>
<section class="about-sec">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-xs-12" data-bg="#2B2626">
                <figure>
                    <a href="{% static 'images/about-us.jpg' %}" data-fancybox><img src="{% static 'images/about-us_new.png' %}" alt="about Speak Up Mithila entertainment park"></a>
                </figure>
            </div>
            <div class="col-lg-6 col-xs-12 text-center padding-25px-all xs-padding-20px-all about-us ">
                <!--  <img src="http://Speak Up Mithila.com/assets/images/logo.png"> -->
                <h3>About <span>Speak Up Mithila</span></h3>

                <p class="margin-half-bottom">Welcome to the world of adventure where the fun never ends!</p>
                <p class="margin-two-bottom">Speak Up Mithila is one of the best adventure parks in Indore with many exciting and thrilling activities. It is the perfect destination for people of all ages.</p>

                <div class="ml-30">
                    <div class="custom-link">
                        <a href="about.html">
                            <div class="lines"> <span></span> <span></span> </div>
                            <button class="btn">Know more</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="works">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2 data-text="Journey">Let the journey begin</h2>
            </div>
            <div class="col-12">
                <div class="project-box wow fadeIn" data-bg="#faf8ed">
                    <figure>
                        <a href="{% static 'images/featured01.jpg' %}" data-fancybox><img src="{% static 'images/featured01.jpg' %}" alt="Image"></a>
                    </figure>
                    <div class="content-box">
                        <div class="inner">
                            <h3><span>Entertainment </span>Park</h3>
                            <p>Welcome to the entertainment zone with go-karting, free fall, wall climbing and many other adventurous activities.</p>
                            <div class="custom-link">
                                <a href="entertainment.html">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <button class="btn">Explore</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-box wow fadeIn" data-bg="#ece6f4">
                    <figure>
                        <a href="{% static 'images/featured02.jpg' %}" data-fancybox><img src="{% static 'images/featured02.jpg' %}" alt="Image"></a>
                    </figure>
                    <div class="content-box">
                        <div class="inner">
                            <h3><span>Food </span>Zone</h3>
                            <p>Welcome to the most lively area of Speak Up Mithila, surrounded with food that taste like Indore street food.</p>
                            <div class="custom-link">
                                <a href="food.html">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <button class="btn">Explore</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-box wow fadeIn" data-bg="#ebf8f3">
                    <figure>
                        <a href="{% static 'images/featured03.jpg' %}" data-fancybox><img src="{% static 'images/featured03.jpg' %}" alt="Image"></a>
                    </figure>
                    <div class="content-box">
                        <div class="inner">
                            <h3><span>Party </span>Zone</h3>
                            <p>Celebrate your happiness at Speak Up Mithila party zone and make you day memorable with beautiful ambiance.</p>
                            <div class="custom-link">
                                <a href="party.html">
                                    <div class="lines"> <span></span> <span></span> </div>
                                    <button class="btn">Explore</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2 data-text="Pricing">Pricing</h2>
            </div>
            <div class="col-lg-5 wow fadeIn">
                <!-- <h4>Get the experience of adventurous and fun activities at pocket friendly prices.</h4> -->
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s">
                <p>Get the experience of adventurous and fun activities at pocket friendly prices..</p>

                <div class="custom-link wow fadeIn">
                    <a href="ticketing.html">
                        <div class="lines"><span></span> <span></span> </div>
                        <button class="btn">Explore</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 data-text="Works">How it works</h2>
            </div>
            <div class="col-lg-4 col-md-3 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <figure>
                    <img src="{% static 'images/key.png' %}" alt="Image">
                    <figcaption>
                        <h4>Purchase Speak Up Mithila key.</h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-3 wow fadeIn" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeIn;">
                <figure>
                    <img src="{% static 'images/wallet.png' %}" alt="Image">
                    <figcaption>
                        <h4>Issue a Speak Up Mithila passport (cashless wallet)</h4>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-3 wow fadeIn" data-wow-delay="0.10s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <figure>
                    <img src="{% static 'images/happy.png' %}" alt="Image">
                    <figcaption>
                        <h4>You are  good to go.</h4>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2 data-text="Testimonials">Testimonials</h2>
            </div>
        </div>

        <div class="owl-carousel owl-theme">
            <div class="item">
            <div class="bg-card-one">
                    <div class="text-center">
                        <p>Best place for outdoor & indoor fun with several activities for the whole family with utmost security. Highly recommended. May sure to buy the package so that you can enjoy all activities. Food is superb, plus the service is quick.Staff was quite helpful and friendly.</p>
                    </div>
                    <div class="title text-center">
                        <h6>Samrat nema</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bg-card-two">
                    <div class="text-center">
                        <p>Nice amusement park. Must tru rocket launcher.. And don't pay the entry fees on weekdays. As the entry fee are resemble (so entry is free but you have to show them the website ) , as they have already mentioned on their website.</p>
                    </div>
                    <div class="title text-center">
                         <h6>Shivam Sharma</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bg-card-three">
                    <div class="text-center">
                        <p>Great ambience. Amazing games. Underrated and lesser known. It's a must visit for family and group of friends. The activities here are quite unique and thrilling. Wish to go again very soon. P.S: Don't forget to click pictures, this place looks very attractive and colourful.</p>
                    </div>
                    <div class="title text-center">
                         <h6>Ronak Wani</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bg-card-one">
                <div class="text-center">
                    <p>Fantastic experience. One of its kind entertainment and adventure park in Indore. Courteous staff, safety precautions were taken, nice ambience, good food and reasonable in price.</p>
                </div>
                <div class="title text-center">
                    <h6>Amit Gorle</h6>
                </div>
                </div>
            </div>
            <div class="item">
                <div class="bg-card-two">
                    <div class="text-center">
                        <p>The place is quite good and the activity that are there are also pretty nice and safe. The staff is also coporative. Only thing i felt that could be improved is the prices that they charge for each activity. Other than that everything is fine.</p>
                    </div>
                    <div class="title text-center">
                        <h6>kavita rathi</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bg-card-three">
                    <div class="text-center">
                        <p>Speak Up Mithila as the name says is full of FuN. An evening well spent with closed ones. Too much of everything, thrill, adventure, comfort for kids as well as for adults. Delicious food, which isn't too heavy on pockets. A must visit for people of all age!</p>
                    </div>
                    <div class="title text-center">
                        <h6>Shrey Garg</h6>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2 data-text="Entry">Group Entry</h2>
            </div>
            <div class="col-lg-5 wow fadeIn">
                <h4>Come in numbers and maximise the fun at Speak Up Mithila.</h4>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s">
                <p>The more people there are, the merrier it gets. Whether its a school/college picnic, office plan, kitty party, or conference, Speak Up Mithila has a plan for everyone. So come along with your friends and create memories like never before. </p>
                <p>Do enquire for group packages at Speak Up Mithila</p>
                <div class="custom-link wow fadeIn">
                    <a href="group_plans.html">
                        <div class="lines"><span></span> <span></span> </div>
                        <button class="btn">Explore</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-content-block">
   <!--  <div class="video-bg">
        <video src="http://Speak Up Mithila.com/assets/videos/prlx.mp4" muted loop autoplay></video>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2 data-text="Registration">Artist Registration</h2>
            </div>
             <div class="col-lg-5 wow fadeIn xs-margin-20px-bottom">
                 <img src="{% static 'images/artist.jpg' %}" alt="Image">
                <!-- <h4>Get the experience of adventurous and fun activities at pocket friendly prices.</h4> -->
            </div>

            <div class="col-lg-7 center-col wow fadeIn" data-wow-delay="0.10s">
                <p>Would you like to showcase and promote your artworks? Then, register your art at Speak Up Mithila as it has many places where all kinds of art forms like dance, acting, stand up comedy, music, singing can be played. So all the artist can register at this page if they want to showcase their art. </p>

                <div class="custom-link wow fadeIn">
                    <a href="artist_registration.html">
                        <div class="lines"><span></span> <span></span> </div>
                        <button class="btn">Explore</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-content-block" style="display:none;">
    <div class="video-bg">
        <video src="assets/videos/prlx.mp4" muted loop autoplay></video>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2>Our Upcoming Events </h2>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0s">
                <div class="content-box">
                    <div class="left"><small>01</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>Event Name</h4>
                        <p>Date: 15/5/2019</p>
                        <div class="eventDetails">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <button class="btn_transparent">Book now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.05s">
                <div class="content-box">
                    <div class="left"><small>02</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>Event Name</h4>
                        <p>Date: 20/5/2019</p>
                        <div class="eventDetails">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <button class="btn_transparent">Book now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.10s">
                <div class="content-box">
                    <div class="left"><small>03</small><span></span></div>
                    <div class="right">
                        <h4>Event Name</h4>
                        <p>Date: 25/5/2019</p>
                        <div class="eventDetails">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <button class="btn_transparent">Book now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="blog" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn">
                <h2 data-text="Blog">Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-sm-6 col-xs-12">
                <a href="#">
                    <div class="bg-light-gray">
                        <img src="assets/images/about-us.jpg" alt="Image">
                        <div class="padding-25px-all titleName">
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4  col-sm-6 col-xs-12">
                <a href="#">
                    <div class="bg-light-gray">
                        <img src="assets/images/about-us.jpg" alt="Image">
                        <div class="padding-25px-all titleName">
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4  col-sm-6 col-xs-12">
                <a href="#">
                    <div class="bg-light-gray">
                        <img src="assets/images/about-us.jpg" alt="Image">
                        <div class="padding-25px-all titleName">
                            <p>Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
</section> -->

<section class="process">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <h2 data-text="Everyone">Something For Everyone</h2>
            </div>
            <div class="col-md-3 wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
                <figure> <img src="{% static 'images/icon001.png' %}" alt="Image">
                    <figcaption>
                        <h5>Kids</h5>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeIn;">
                <figure> <img src="{% static 'images/icon002.png' %}" alt="Image">
                    <figcaption>
                        <h5>Youngsters</h5>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.10s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <figure> <img src="{% static 'images/icon003.png' %}" alt="Image">
                    <figcaption>
                        <h5>Family Group</h5>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;">
                <figure> <img src="{% static 'images/icon004.png' %}" alt="Image">
                    <figcaption>
                        <h5>Couples</h5>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
        <img src="{% static 'images/bm.jpg' %}" alt="">
         <img src="{% static 'images/frolly1.jpg' %}" alt="">
         <img src="{% static 'images/hr.jpg' %}" alt="">
         <img src="{% static 'images/ss.jpg' %}" alt="">
         <img src="{% static 'images/co8.jpg' %}" alt="">
      </div>
    </section><div class="clearfix"></div>
{% include 'footer.html' %}
